app_identifier("io.moox.LifeTime") # The bundle identifier of your app
apple_id("m@il") # Your Apple email address

itc_team_id("123456") # App Store Connect Team ID
team_id("ABC123") # Developer Portal Team ID

# For more information about the Appfile, see:
#     https://docs.fastlane.tools/advanced/#appfile
